/* fonte do google fontes (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor_pumpkin: #F17A28;
    --cor_green_blue: #0060B1;
    --cor_orange: #FF6500;
    --cor_rich_black: #0E1116;
    --cor_outer_space: #42464D;
    --cor_gray: #7F858D;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100vh;
}

/* início do cabeçalho */
header {
    background-color: var(--cor_green_blue);
    padding: 25px 0px;
    text-align: center;
}

header h1 {
    color: white;
}

a {
    text-decoration: none;
}

/* fim do cabeçalho */

main {
    width: 70%;
    background-color: #f1f1f1;
    float: left;
    margin-top: 40px;
}

h2 {
    font-size: 20px;
    color: white;
}

#box-cep {
    padding-left: 40px;
    font-size: 0.95em;
    color: var(--cor_gray);
}

#resultado {
    margin-top: 10px;
}

#box-cep button {
    background-color: var(--cor_green_blue);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    padding: 4px;
    margin-left: 5px;
}

#input_num {
    width: 6%;
}

p {
    padding: 5px 0px;
}

label {
    padding-right: 8px;
}

#title-endereco {
    display: flex;
    background-color: var(--cor_pumpkin);
    align-items: center;
    padding: 10px 40px;
    margin: 40px 0px;
}

#title-carrinho {
    padding: 10px 40px;
    margin: 40px 0px;
    background-color: var(--cor_pumpkin);
    color: rgb(255, 255, 255);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#title-endereco .material-symbols-outlined {
    padding-right: 10px;
}

#cart-items {
    padding-left: 50px;
    margin: 50px 0px;
    padding-bottom: 20px;
}

.qtd_produto {
    width: 45px;
    text-align: center;
}

aside {
    font-size: 7px;
    float: right;
    background-color: #f1f1f1;
    width: 28%;
    margin-top: 40px;
    position: fixed;
    top: 99px;
    left: 71%;
}

aside h2 {
    font-size: 22px;
    color: var(--cor_rich_black);
    padding: 15px;
}

aside h3 {
    padding-left: 15px;
    padding-bottom: 4px;
    font-size: 15px;
    color: var(--cor_outer_space);
    font-weight: 500;
}

aside button {
    background-color: var(--cor_orange);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 6px;
    margin-left: 30%;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}

/* aplicando estilo as tag que foram criadas no javascript */
img {
    width: 200px;
}

.box_produto {
    background-color: white;
    width: 90%;
    margin: 20px 0px;
    padding: 18px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}

.info_produto {
    margin-left: 15px;
}

.title_produto {
    font-size: 18px;
    color: var(--cor_outer_space);
}

.preco_produto {
    font-size: 20px;
    color: var(--cor_orange);
    font-weight: bold;
}

#clear_cart {
    padding: 7px;
    background-color: crimson;
    border-radius: 20px;
    color: white;
    border: none;
    margin-left: 50px;
    font-weight: 500;
}

/* fim */

/* início do rodapé */
footer {
    /* height: 280px; */
    clear: both;
    background-color: var(--cor_rich_black);
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
    padding-bottom: 30px;
    color: rgb(218, 214, 214);
    font-weight: bold;
    margin-top: 50px;
}

footer a {
    color: rgb(218, 214, 214);
}

footer a[href="https://encurtador.com.br/coMN0"] {
    display: inline-block;
    text-decoration: underline;
    padding: 6.5px 0px;
}

footer h3 {
    margin-bottom: 13px;
    color: var(--cor_orange);
    text-align: center;
}

footer a>img {
    display: inline-block;
    background-color: rgb(247, 244, 244);
    padding: 9px;
    border-radius: 50%;
    overflow: visible;
    width: 38px;
    margin-left: 4px;
}

p>span.material-symbols-outlined {
    position: relative;
    top: 8px;
    padding-right: 14px;
    padding-bottom: 10px;
}

footer p {
    font-size: 14.5px;
}