@media screen and (max-width: 768px) {
    menu>a {
        display: block;
        border: 1px solid rgb(172, 164, 164);
        padding: 6px;
        text-align: center;

    }

    #menu_hamburguer {
        display: block;
    }

    menu {
        display: none;
        padding: 0px;
    }

    menu>span {
        display: none;
    }

    .container {
        flex-direction: column-reverse;
        align-items: center;
       
    }

    .login{
        margin: 0px;
        margin-bottom: 30px;
        width: 90%;
    }

    .redes-sociais-cadastro button{
        width: 27vw;
        max-width: 165px;
        font-size: 0.75em;
    }

    .redes-sociais-cadastro {
       margin-left: 6%;
        padding: 0px;
    }

    main p{
        margin-left: 6%;

    }

    .login, .cadastro{
        border: 1px solid var(--cor_pumpkin);
    }

    .input-tipo-conta{
        text-align: left;
        margin-left: 6%;
    }

    .redes-sociais-login{
        margin-bottom: 20px;
    }

    input[type="text"], input[type="password"], input[type="email"], select{
        width: 90%;
        margin-bottom: 8px;
    }

    .cadastro{
        width: 90%;
    }

    form{
        text-align: center;
    }

    .login a{
        margin-left: 6%;
    }

    form > button{
        width: 90% !important;
       margin-bottom: 20px !important;
    }

    .data-telefone{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 8px;
    }

    input[type="date"], input[type="tel"]{
        width: 40%;
    }

    .e-mail, .nome-cpf{
        padding: 0px;
    }

    .onde-conheceu{
        width: 90%;
        margin: auto;
    }

    .texto-obrigatorio{
        text-align: left;
        margin-left: 6%;
    }

    .checkbox-receber-info, .checkbox-acordo{
        margin-left: 6%;
    }

    .checkbox-receber-info p, .checkbox-acordo p {
        text-align: left;
        margin: 5px 15px;
    }

    button[type="submit"]{
        margin: auto;
    }

    footer {
        flex-direction: column;
        align-content: center;
        padding: 0px;
    }

    footer h3 {
        margin: 0px;
    }

    footer div {
        padding: 22px 0px;
    }

    #atendimento {
        text-align: center;
    }

    #sociais {
        text-align: center;
    }
}