@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor_pumpkin: #F17A28;
    --cor_green_blue: #0060B1;
    --cor_orange: #FF6500;
    --cor_rich_black: #0E1116;
    --cor_outer_space: #42464D;
    --cor_gray: #7F858D;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100vh;
}

/* início do cabeçalho */
header>h1 {
    background-color: var(--cor_green_blue);
    padding: 25px 0px;
    color: white;
    text-align: center;
}

header>nav {
    background-color: var(--cor_orange);
}

menu {
    padding: 12px 0px 12px 25px;
}

menu>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 15px;
}

a>span {
    position: relative;
    top: 6px;
}

a~span {
    color: white;
}

menu>a:hover {
    background-color: #ef833c;
    padding: 10px;
    transition: 350ms;
}

input#search-bar {
    width: 180px;
    border-radius: 15px;
    float: right;
    height: 27px;
    margin-right: 5%;
    border: none;
    padding-left: 7px;
}

input+span {
    position: absolute;
    right: 5.5%;
    color: var(--cor_rich_black);
}

input::placeholder{
    font-size: 14px;
    padding: 10px;
}

input[type="text"], input[type="password"], input[type="email"], select{
   padding: 10px;
    border: solid 1px #7F858D;
    border-radius: 5px;
    width: 49.6%;
}

input[type="email"]{
    width: 99.6%;
}

input[type="date"], input[type="tel"]{
    padding: 10px;
    border: solid 1px #7F858D;
    border-radius: 5px;
    width: 49.6%;
}

h2 {
    color: var(--cor_orange);
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

main p {
    font-size: 14px;
    color: var(--cor_gray);
}

.cadastro img, .login img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

label {
    font-size: 14px;
    padding-right: 10px;
    padding-top: 4px;
}


/* Esconder o input padrão */
input[type="radio"] {
    display: none;
  }
  
  /* Estilizar a bolinha */
  input[type="radio"] + label {
    position: relative;
    padding-left: 25px; /* Espaço para a nova bolinha */
    cursor: pointer;
  }
  
  input[type="radio"] + label::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 12px; /* Tamanho da nova bolinha */
    height: 12px; /* Tamanho da nova bolinha */
    border-radius: 50%;
    border: 1px solid var(--cor_rich_black); /* Cor da borda da nova bolinha */
  }
  
  /* Estilizar quando selecionado */
  input[type="radio"]:checked + label::before {
    background-color: var(--cor_orange); /* Cor de preenchimento da nova bolinha quando selecionada */
  }

  button{
    border-radius: 5px;
    cursor: pointer;
  }

button[type="submit"]{
    background-color: var(--cor_orange);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    width: 20pc;
    margin-left: 28%;
    margin-top: 8px;
}

.login button{
    background-color: var(--cor_orange);
    font-weight: bold;
    width: 100%;
    margin-left: 0px;
    margin-top: 8px;
}

button[type="submit"]:hover{
    transition: 800ms;
    background-color: #ef833c;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly; 
}

.texto-tipo-conta{
    color: gray;
    display: flex;
}

.input-tipo-conta{
    display: flex;
    
}

#pessoa-fisica {
    margin-right: 5px;
}

#pessoa-juridica {
    margin-left: 5px;
    margin-right: 5px;
}

.login h2{
    margin-bottom: 11px;
}

.login{
    width: 30%;
    margin-left: 10px;
}

.redes-sociais-cadastro {
    padding-top: 15px;
   margin-bottom: 20px;
}

.redes-sociais-cadastro img{
   position: relative;
   top: 3.5px;
}

.botao-facebook-cadastro {
    background-color: white;
    padding: 7px;
    color: blue;
    border-color: blue;
    border-width: 1px;
}

.botao-google-cadastro {
    background-color: white;
    padding: 7px;
    color: red;
    border-color: red;
    border-width: 1px;
}

.botao-apple-cadastro {
    background-color: white;
    padding: 7px;
    border-width: 1px;
}

.ou {
    display: flex;
    align-items: center;
    color: #d3d7dd;
    padding: 10px 0px;
}

.ou hr {
    flex: 1;
    border: none;
    border-top: 1px solid #d3d7dd;
    margin: 0 10px;
}

.nome-cpf{
    padding-bottom: 10px;
}

.data-telefone{
    padding-bottom: 10px;
}

.e-mail{
    padding-bottom: 10px;
}


.senha{
    padding-bottom: 10px;
}

.texto-obrigatorio{
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    font-size: 12px;
}

.checkbox-receber-info{
    display: flex;
    padding-bottom: 10px;
}

.checkbox-receber-info p {
    margin-left: 5px;
}

.checkbox-acordo{
    display: flex;
    padding-bottom: 10px;
}

.checkbox-acordo p {
    margin-left: 5px;
}

#onde-conheceu{
    padding: 10px;
    border: solid 1px #7F858D;
    border-radius: 5px;
    width: 99.6%;
    color: #7F858D;
    font-size: 14.5px;
}


.inputs-login input {
   width: 100%;
    margin-bottom: 10px;
}

.login a {
    display:flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: var(--cor_gray);
}

.login span{
    padding-right: 10px;
    position: relative;
    top: 5px;
}

h2 ~ a{
    text-decoration: underline;
}


.login hr {
    border: none;
    border-top: 1px solid #d3d7dd;
    margin-bottom: 10px;
}

.redes-sociais-login button{
   background-color: white;
    width: 36%;
}


.redes-sociais-login a{
    display: inline;
    margin-right: 12px;
}

.redes-sociais-login img{
    position: relative;
    top: 4px;
}

.botao-facebook-login{
    display: inline;
    background-color: white;
    padding: 5px;
    color: rgb(6, 6, 129);
    border-color: blue;
    border-width: 1px;
    font-weight: bold;
}

.botao-google-login{
    display: inline;
    background-color: white;
    padding: 5px;
    color: red;
    border-color: red;
    border-width: 1px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

/* início do rodapé */
footer{
    /* height: 280px; */
    background-color: var(--cor_rich_black);
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
    padding-bottom: 30px;
    color: rgb(218, 214, 214);
    font-weight: bold;
    margin-top: 50px;
}

footer a{
    color: rgb(218, 214, 214);
}

footer a[href="https://encurtador.com.br/coMN0"]{
    display: inline-block;
    text-decoration: underline;
    padding: 6.5px 0px;
}

footer h3{
    margin-bottom: 13px;
    color: var(--cor_orange);
    text-align: center;
}

footer a > img{
    display: inline-block;
    background-color: rgb(247, 244, 244);
    padding: 9px;
    border-radius: 50%;
    overflow: visible;
    width: 38px;
    margin-left: 4px;
}

p > span.material-symbols-outlined{
    position: relative;
    top: 8px;
    padding-right: 14px;
    padding-bottom: 10px;
}

footer p{
    font-size: 14.5px;
}