@media screen and (max-width: 767px) {
    menu > a{
        display: block;
        border: 1px solid rgb(172, 164, 164);
        padding: 6px;
        text-align: center;
        
    }

    #menu_hamburguer {
        display: block;
    }

    menu{
        padding: 0px;
    }

    menu > span{
        display: none;
    }

    input#search-bar {
        width: 30%;
        border-radius: 15px;
        float: right;
        height: 27px;
        text-align: center;
        border: 1px solid black;
        padding-left: 7px;
        margin-top: 1px;
    }

    section{
        flex-wrap: wrap;
        height: fit-content;
        justify-content: space-evenly;
    }

    section>div {
        background: white;
        width: 290px;
        margin-right: 10px;
        height: 420px;
        margin-bottom: 20px;
    }

    section#secao-marcas  {
        height: fit-content;
     }

     .marcas{
        width: 290px; 
    }

    footer {
       flex-direction: column;
       align-content: center;  
       padding: 0px;
    }

    footer h3{
        margin: 0px;
    }

    footer div{
        padding: 22px 0px;
    }

    #atendimento{
        text-align: center;
    }

    #sociais{
        text-align: center;
    }
} 