@media screen and (max-width: 767px) {
    menu>a {
        display: block;
        border: 1px solid rgb(172, 164, 164);
        padding: 6px;
        text-align: center;

    }

    #menu_hamburguer {
        display: block;
    }

    menu {
        display: none;
        padding: 0px;
    }

    menu>span {
        display: none;
    }

    input#search-bar {
        padding-left: 12px;
        margin: 9px 0px;
    }

    #pesquisa {
        background-color: var(--cor_orange);
        width: 100%;
        text-align: center;
        position: relative;
        float: none;
    }

    input+span {
        position: absolute;
        right: 33%;
        top: 21%;
    }

    section {
        flex-wrap: wrap;
        height: fit-content;
        justify-content: space-evenly;
    }

    section>div {
        background: white;
        width: 290px;
        margin-right: 10px;
        height: 420px;
        margin-bottom: 20px;
    }

    section#secao-marcas {
        height: fit-content;
    }

    .marcas {
        width: 290px;
    }

    footer {
        flex-direction: column;
        align-content: center;
        padding: 0px;
    }

    footer h3 {
        margin: 0px;
    }

    footer div {
        padding: 22px 0px;
    }

    #atendimento {
        text-align: center;
    }

    #sociais {
        text-align: center;
    }
}