/* fonte do google fontes (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cor_pumpkin: #F17A28;
    --cor_green_blue: #0060B1;
    --cor_orange: #FF6500;
    --cor_rich_black: #0E1116;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFB;
}

/* início do cabeçalho */
header > h1{
   background-color: var(--cor_green_blue);
   padding: 25px 0px;
   color: white;
   text-align: center; 
}

header > nav{
    background-color: var(--cor_orange);
}

menu{
    padding: 12px 0px 12px 25px;
}

menu > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 15px;
}

a > span{
    position: relative;
    top: 6px;
}

a ~ span{
    color: white;
}

menu > a:hover{
    background-color:#ef833c;
    padding: 10px;
    transition: 350ms;
}

input#search-bar{
    width: 180px;
    border-radius: 15px;
    float: right;
   height: 27px;
    margin-right: 8%;
    border: none;
    padding-left: 7px;
}

input + span{
    position: fixed;
    right: 8.5%;
    color: var(--cor_rich_black);
}
/* fim do cabeçalho */

/* característica padrão para todas as seções do index */
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main{
    width: 85%;
    margin: auto;
}

div{
    background: white;
}