/* fonte do google fontes (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor_pumpkin: #F17A28;
    --cor_green_blue: #0060B1;
    --cor_orange: #FF6500;
    --cor_rich_black: #0E1116;
    --cor_outer_space: #42464D;
    --cor_gray: #7F858D;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100vh;
}

/* início do cabeçalho */
header>h1 {
    background-color: var(--cor_green_blue);
    padding: 25px 0px;
    color: white;
    text-align: center;
}

header>nav {
    background-color: var(--cor_orange);
}

#menu_hamburguer {
    display: none;
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
    padding: 6px 0px;
}

menu {
    padding: 12px 0px 12px 25px;
}

a {
    text-decoration: none;
}

menu a {
    color: white;
    font-weight: bold;
    padding: 0px 15px;
}

a>span {
    position: relative;
    top: 6px;
}

a~span {
    color: white;
}

a>.material-symbols-outlined,
.icons-hover>.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

a[href="carrinho.html"] {
    position: relative;
}


menu a.hover_normal:hover {
    background-color: #ef833c;
    padding: 10px;
    transition: 350ms;
}

menu a:hover {
    background-color: #ef833c;
    transition: 350ms;
}

#submenu{
    display: inline;
}

.submenus{
    display: block;
    background-color: var(--cor_orange);
    width: 95%;
    text-align: left;
    padding: 5px 0px;
   border-bottom: 1px solid rgb(196, 194, 194);
}

#agrupador_links{
    position: absolute;
    top: 150px;
}

#arrow_down {

    position: relative;
    top: 7px;
    right: 10px;
}

#counter_cart {
    background-color: var(--cor_rich_black);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -60%;
    right: 5%;
    display: none;
}

#pesquisa {
    float: right;
    margin-right: 60px;
}

input#search-bar {
    width: 180px;
    border-radius: 15px;
    height: 27px;
    border: none;
    padding-left: 7px;
}

input+span {
    position: absolute;
    right: 5.5%;
}

/* fim do cabeçalho */

/* conteúdo principal */
/* característica padrão para todas as seções do index */
section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 480px;
}

main {
    width: 90%;
    margin: auto;
    background-color: #f1f1f1;
}

section>div {
    background: white;
    width: 220px;
    height: 440px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 14px;
    position: relative;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.566);
}

span.icons-hover {
    visibility: hidden;
    display: inline-block;
    color: var(--cor_gray);
    margin-left: 70%;
    margin-top: 8px;
}

main #primeiro-h2 {
    margin-top: 40px;
}

h2 {
    background-color: var(--cor_pumpkin);
    color: white;
    font-size: 20px;
    margin: 28px 0px 20px 0px;
    padding: 8px 0px 8px 25px;
}

.div-hover>h3 {
    font-size: 14px;
    color: var(--cor_outer_space);
    padding: 8px 0px;
}

.div-hover>img {
    width: 200px;
}

button {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0px;
    width: 85%;
    background-color: var(--cor_orange);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 12px;
}

button>.material-symbols-outlined {
    font-size: 24px;
    padding-right: 5px;
}

button:hover {
    transition: 800ms;
    background-color: #ff9d60;
}

.preco-cortado {
    font-size: 12px;
    text-decoration: line-through;
    color: var(--cor_gray);
}

.preco-desconto {
    font-size: 20px;
    color: var(--cor_orange);
    font-weight: bold;
}

.texto-pix {
    font-size: 12px;
    padding-bottom: 8px;
    color: var(--cor_gray);
}

#titulo-marcas {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #e6ddd8, var(--cor_pumpkin));
    color: #0D1116;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#titulo-marcas>span {
    padding-right: 15px;
    color: var(--cor_orange);
}

section#secao-marcas {
    height: 300px;
}

.marcas {
    width: 250px;
    height: 235px;
    border-radius: 0px;
}

.marcas>img {
    height: 140px;
    border-radius: 4px;
    display: block;
    margin: auto;
    width: 230px;
    margin-top: 15px;
}

.marcas>h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--cor_outer_space);
    padding-top: 10px;
}

.marcas>a {
    padding-bottom: 10px;
    color: var(--cor_orange);
    font-size: 14px;
    margin-left: 30%;
    font-weight: 600;
}

.marcas>span {
    color: #FF6500;
    position: relative;
    top: 3%;
}

.marcas a:hover {
    text-decoration: underline;
}

/* fim do conteúdo principal */

/* início do rodapé */
footer {
    background-color: var(--cor_rich_black);
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
    padding-bottom: 30px;
    color: rgb(218, 214, 214);
    font-weight: bold;
    margin-top: 50px;
}

footer a {
    color: rgb(218, 214, 214);
}

footer a[href="https://encurtador.com.br/coMN0"] {
    display: inline-block;
    text-decoration: underline;
    padding: 6.5px 0px;
}

footer h3 {
    margin-bottom: 13px;
    color: var(--cor_orange);
    text-align: center;
}

footer a>img {
    display: inline-block;
    background-color: rgb(247, 244, 244);
    padding: 9px;
    border-radius: 50%;
    overflow: visible;
    width: 38px;
    margin-left: 4px;
}

p>span.material-symbols-outlined {
    position: relative;
    top: 8px;
    padding-right: 14px;
    padding-bottom: 10px;
}

footer p {
    font-size: 14.5px;
}

#copy {
    background-color: var(--cor_rich_black);
    padding: 12px;
    color: rgb(218, 214, 214);
    border-top: 1px solid rgb(242, 232, 213);
    text-align: center;
}

#cookie_bar {
    background-color: #0061b1e8;
    width: 100%;
    height: 100px;
    position: sticky;
    bottom: 2px;
    padding-top: 15px;
    font-size: 1.05em;
}

#cookie_bar p {
    color: var(--cor_pumpkin);
    text-indent: 100px;
    font-weight: 600;
    font-family: cursive;
}

#cookie_bar p>a {
    color: white;
    padding-left: 10px;
    text-decoration: underline;
    font-family: cursive;
}

#cookie_bar button {
    width: fit-content;
    margin-left: 47vw;
    margin-top: 16px;
    padding: 9px 10px;
    font-size: 0.85em;
    cursor: pointer;
}