/* fonte do google fontes (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* cabeçalho */

/* característica padrão para todas as seções do index */
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main{
    width: 85%;
    margin: auto;
}